<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.mini.prj.mapper.ComentMapper">
	<!-- 댓글 번호 -->
	<select id="comentSelectList" resultType="co.mini.prj.coment.service.ComentVO">
	
	<if test="str==coment">
		SELECT * FROM COMENT WHERE COMENT_TYPE = 'coment'
	</if>
	<if test="str ==  null">
	SELECT * FROM COMENT
	</if>
	</select>
	
	<select id="comentSelect" resultType="co.mini.prj.coment.service.ComentVO">
	SELECT * FROM COMENT WHERE COMENT_WRITER = #{comentWriter}
	</select>
	
	<insert id="comentInsert" parameterType="co.mini.prj.coment.service.ComentVO">
	<selectKey keyProperty="comentNum" resultType="int"
			order="BEFORE">
			SELECT CASE WHEN MAX(COMENT_CONUM) IS NULL THEN 1 ELSE
			MAX(coment_conum) + 1 END AS ID
			FROM COMENT
		</selectKey>
		INSERT INTO COMENT
		VALUES(#{comentNum}, #{comentWriter},
		#{comentConum},#{comentDate},
		#{comentHit},#{comentContent},
		#{boardType},#{boardAttech})
		
	</insert>
	
	<update id="comentUpdate" parameterType="co.mini.prj.coment.service.ComentVO">
	<set>
			<if test="comentNum != null">COMENT_CONUM = #{comentConum},</if>
			<if test="comentWriter != null"> COMENT_WRITER = #{comentWriter},</if>
			<if test="boardDate != null"> COMENT_DATE = #{comentDate},</if>
			<if test="comentContent != null">COMENT_CONTENT = #{comentContent}</if>
		</set>
		WHERE COMENT_WRITER = #{COMENT_WRITER}
	</update>
	
	<delete id="comentDelete" parameterType="co.mini.prj.coment.service.ComentVO">
	DELETE FROM COMENT WHERE COMENT_WRITER = #{comentWriter}
	</delete>
	
	<select id="comentSearchList" resultType="co.mini.prj.coment.service.ComentVO">
	SELECT * FROM COMENT WHERE COMENT_TYPE = #{str}
	</select>
</mapper>